@import 'config';
@tailwind base;
@tailwind components;
@tailwind utilities;

// base

@import 'fonts';
@import 'reset';
// block

@import '../block/nav';
@import '../block/homeMain.scss';
@import '../block/products.scss';
@import '../block/tableProd.scss';
@import '../block/sellers.scss';
@import '../block/useful.scss';
@import '../block/footer.scss';
@import '../block/poster.scss';
@import '../block/categoryMain.scss';
@import '../block/filter.scss';
@import '../block/dogs.scss';
@import '../block/sort.scss';

@import 'media';
[class*='__container'] {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

body {
	color: $firstTextColor;
}

.home_page {
	border-radius: 0px 0px 40px 40px;
	background: linear-gradient(
		103deg,
		#fceed5 6.43%,
		#fceed5 78.33%,
		#ffe7ba 104.24%
	);
}

.category-item.none .sub-category-menu {
	display: none;
}

.category-item.none .arrow-icon {
	transform: rotate(180deg);
}
