// Text

// Heading Text
$Bold60: clamp(1.875rem, 1.161rem + 3.57vw, 3.75rem);
$Bold52: clamp(1.625rem, 1.006rem + 3.1vw, 3.25rem);

$Bold46: clamp(1.438rem, 0.89rem + 2.74vw, 2.875rem);
$Med46: clamp(1.438rem, 0.89rem + 2.74vw, 2.875rem);
$Reg46: clamp(1.438rem, 0.89rem + 2.74vw, 2.875rem);

$Bold36: clamp(1.125rem, 0.696rem + 2.14vw, 2.25rem);
$Semi36: clamp(1.125rem, 0.696rem + 2.14vw, 2.25rem);
$Reg36: clamp(1.125rem, 0.696rem + 2.14vw, 2.25rem);

$Bold28: clamp(0.875rem, 0.542rem + 1.67vw, 1.75rem);
$Med28: clamp(0.875rem, 0.542rem + 1.67vw, 1.75rem);
$Reg28: clamp(0.875rem, 0.542rem + 1.67vw, 1.75rem);

$Bold24: clamp(0.75rem, 0.464rem + 1.43vw, 1.5rem);
$Semi24: clamp(0.75rem, 0.464rem + 1.43vw, 1.5rem);
$Reg24: clamp(0.75rem, 0.464rem + 1.43vw, 1.5rem);

// Body Text

$Bold20: clamp(0.625rem, 0.387rem + 1.19vw, 1.25rem);
$Med20: clamp(0.625rem, 0.387rem + 1.19vw, 1.25rem);
$Reg20: clamp(0.625rem, 0.387rem + 1.19vw, 1.25rem);

$Med16: clamp(0.5rem, 0.31rem + 0.95vw, 1rem);
$Reg16: clamp(0.5rem, 0.31rem + 0.95vw, 1rem);

$Bold14: clamp(0.438rem, 0.271rem + 0.83vw, 0.875rem);
$Med14: clamp(0.438rem, 0.271rem + 0.83vw, 0.875rem);
$Reg14: clamp(0.438rem, 0.271rem + 0.83vw, 0.875rem);

$Bold12: clamp(0.375rem, 0.232rem + 0.71vw, 0.75rem);
$Med12: clamp(0.375rem, 0.232rem + 0.71vw, 0.75rem);
$Reg12: clamp(0.375rem, 0.232rem + 0.71vw, 0.75rem);

$Bold10: clamp(0.313rem, 0.193rem + 0.6vw, 0.625rem);
$Med10: clamp(0.313rem, 0.193rem + 0.6vw, 0.625rem);
$Reg10: clamp(0.313rem, 0.193rem + 0.6vw, 0.625rem);

$Bold8: clamp(0.25rem, 0.155rem + 0.48vw, 0.5rem);
$Semi8: clamp(0.25rem, 0.155rem + 0.48vw, 0.5rem);
$Reg8: clamp(0.25rem, 0.155rem + 0.48vw, 0.5rem);

// Colors

// State Color

$black: #000000;
$white: #fff;
$firstTextColor: #003459;
$firstTextColor-60: #00528c;
$firstTextColor-80: #002a48;
$firstTextColor-40: #0078cd;
$SecTextColor: #f7dba7;
$PinkRed: #ff564f;
$GreenLight: #34c759;
$OrangeShine: #ff912c;
$BlueSea: #00a7e7;

// Neutral Color

$c100: #00171f;
$c80: #242b33;
$c60: #667479;
$c40: #99a2a5;
$c20: #ccd1d2;
$c10: #ebeeef;
$c0: #fdfdfd;

// Yellow

$yellow40: #fceed5;
$yellow60: #f1d092;
$yellow80: #eec77e;

// Background

// Class

/* 46px */
.Bold46 {
	font-size: clamp(1.438rem, 0.89rem + 2.74vw, 2.875rem);
	line-height: clamp(1.875rem, 1.161rem + 3.57vw, 3.75rem);
	font-weight: bold;
}

.Med46 {
	font-size: clamp(1.438rem, 0.89rem + 2.74vw, 2.875rem);
	line-height: clamp(1.875rem, 1.161rem + 3.57vw, 3.75rem);
	font-weight: medium;
}

.Reg46 {
	font-size: clamp(1.438rem, 0.89rem + 2.74vw, 2.875rem);
	line-height: clamp(1.875rem, 1.161rem + 3.57vw, 3.75rem);
	font-weight: normal;
}

/* 36px */
.Bold36 {
	font-size: clamp(1.125rem, 0.696rem + 2.14vw, 2.25rem);
	font-weight: bold;
}

.Semi36 {
	font-size: clamp(1.125rem, 0.696rem + 2.14vw, 2.25rem);
	font-weight: semibold;
}

.Reg36 {
	font-size: clamp(1.125rem, 0.696rem + 2.14vw, 2.25rem);
	font-weight: normal;
}

/* 28px */
.Bold28 {
	font-size: clamp(0.875rem, 0.542rem + 1.67vw, 1.75rem);
	font-weight: bold;
}

.Med28 {
	font-size: clamp(0.875rem, 0.542rem + 1.67vw, 1.75rem);
	font-weight: medium;
}

.Reg28 {
	font-size: clamp(0.875rem, 0.542rem + 1.67vw, 1.75rem);
	font-weight: normal;
}

/* 24px */
.Bold24 {
	font-size: clamp(0.75rem, 0.464rem + 1.43vw, 1.5rem);
	font-weight: bold;
}

.Semi24 {
	font-size: clamp(0.75rem, 0.464rem + 1.43vw, 1.5rem);
	font-weight: semibold;
}

.Reg24 {
	font-size: clamp(0.75rem, 0.464rem + 1.43vw, 1.5rem);
	font-weight: normal;
}

/* 20px */
.Bold20 {
	font-size: 20px;
	font-weight: bold;
}

.Med20 {
	font-size: 20px;
	font-weight: medium;
}

.Reg20 {
	font-size: 20px;
	font-weight: normal;
}

/* 16px */
.Bold16 {
	font-size: clamp(0.5rem, 0.31rem + 0.95vw, 1rem);
	line-height: clamp(0.75rem, 0.464rem + 1.43vw, 1.5rem);
	font-weight: bold;
}

.Med16 {
	font-size: clamp(0.5rem, 0.31rem + 0.95vw, 1rem);
	line-height: clamp(0.75rem, 0.464rem + 1.43vw, 1.5rem);
	font-weight: medium;
}

.Reg16 {
	font-size: clamp(0.5rem, 0.31rem + 0.95vw, 1rem);
	line-height: clamp(0.75rem, 0.464rem + 1.43vw, 1.5rem);
	font-weight: normal;
}

/* 14px */
.Bold14 {
	font-size: clamp(0.438rem, 0.272rem + 0.83vw, 0.875rem);
	font-weight: bold;
}

.Med14 {
	font-size: clamp(0.438rem, 0.272rem + 0.83vw, 0.875rem);
	font-weight: medium;
}

.Reg14 {
	font-size: clamp(0.438rem, 0.272rem + 0.83vw, 0.875rem);
	font-weight: normal;
}

/* 12px */
.Bold12 {
	font-size: 12px;
	font-weight: bold;
}

.Med12 {
	font-size: 12px;
	font-weight: medium;
}

.Reg12 {
	font-size: 12px;
	font-weight: normal;
}

/* 10px */
.Bold10 {
	font-size: 10px;
	font-weight: bold;
}

.Med10 {
	font-size: 10px;
	font-weight: medium;
}

.Reg10 {
	font-size: 10px;
	font-weight: normal;
}

/* 8px */
.Bold8 {
	font-size: 8px;
	font-weight: bold;
}

.Semi8 {
	font-size: 8px;
	font-weight: semibold;
}

.Reg8 {
	font-size: 8px;
	font-weight: normal;
}

// Mixin

@mixin trsansition {
	transition: all 0.5s ease-in-out;
}

@mixin zindex {
	position: relative;
	z-index: 99;
}

@mixin flex($justify, $center, $center1) {
	display: flex;
	justify-content: $justify;
	align-items: $center;
	text-align: $center1;
}

@mixin absolute {
	position: absolute;
	top: 0;
	left: 0;
}

@mixin button_primary($color, $background, $border) {
	background: $background;
	padding: clamp(0.438rem, 0.271rem + 0.83vw, 0.875rem)
		clamp(0.875rem, 0.542rem + 1.67vw, 1.75rem);
	color: $color;
	border: $border;
	font-size: clamp(0.5rem, 0.31rem + 0.95vw, 1rem);
	border-radius: 57px;
	font-family: Gilroy;
	font-weight: 500;
	line-height: clamp(0.75rem, 0.464rem + 1.43vw, 1.5rem);
	@include flex(center, center, center);
	@include trsansition;
}

@mixin button_secondary($color, $background, $border) {
	background: $background;
	padding: clamp(0.375rem, 0.232rem + 0.71vw, 0.75rem)
		clamp(0.875rem, 0.542rem + 1.67vw, 1.75rem);
	color: $color;
	font-size: clamp(0.438rem, 0.271rem + 0.83vw, 0.875rem);
	border-radius: 57px;
	font-family: Gilroy;
	font-weight: 700;
	border: $border;
	line-height: clamp(0.625rem, 0.387rem + 1.19vw, 1.25rem);
	@include flex(center, center, center);
	@include trsansition;
}
