@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
		url('../../../public/fonts/Gilroy-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
		url('../../../public/fonts/Gilroy-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Medium'), local('Gilroy-Medium'),
		url('../../../public/fonts/Gilroy-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
		url('../../../public/fonts/Gilroy-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
