@media (max-width: 990px) {
	.table_prod-wrapper {
		flex-direction: column-reverse;
	}

	.table_sel-right {
		display: none;
	}

	.table_sel-left {
		text-align: center;
		justify-content: center;
		margin: 0 auto;
	}

	.table_prod-right {
		margin: 0 auto;
		text-align: center;
	}

	.main__buttons {
		justify-content: center;
	}
}

@media (max-width: 966px) {
	.nav_list {
		gap: 20px;
	}
}

.transition-fade {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.transition-fade.show {
	opacity: 1;
	pointer-events: auto;
}

@media (max-width: 841px) {
	.header__from_info button {
		display: none;
	}

	.header__form input {
		padding: 0;
		display: none;
	}

	.header__form {
		background: linear-gradient(
			103deg,
			#fceed5 6.43%,
			#fceed5 78.33%,
			#ffe7ba 104.24%
		);
		margin: 0;
	}

	.header__lang {
		position: absolute;
		left: 35%;
		transform: translateX(-600%);
		transition: all 0.3s ease-in;

		&.lang_show {
			transform: translateX(0%);
		}
	}

	.nav_list {
		flex-direction: column;
		align-items: start;
		text-align: left;
		transform: translateY(70px);
	}

	.nav_link {
		font-size: 18px;
		font-family: Gilroy;
		font-weight: 200;

		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	.header__navigation {
		position: absolute;
		top: 0;
		transform: translateX(-110%);
		left: 0;
		height: 72.5vh;
		width: 80%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		background: $yellow80;
		padding: 25px 20px;

		& ul > a:not(:last-child) {
			margin-bottom: 100px;
		}

		&.vis {
			transform: translateX(0);
		}
	}

	.header__form_img {
		margin-right: 0;
	}

	.category-list {
		display: flex;
		align-items: center;
	}

	.main-list {
		height: 200px;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		margin-left: 20px;
	}

	.category-item {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	.category__header {
		margin-bottom: 25px;
	}

	.sub-category-menu {
		padding-left: 20px;
	}

	.sub-category-list {
		display: flex;
		gap: 15px;
		flex-direction: column;
	}

	.nested {
		display: none;
	}

	.poster {
		&__wrapper {
			flex-direction: column;
			align-items: center;

			&::after {
				width: 400px;
				height: 400px;
			}
		}

		&__left {
			img {

			}
		}
		
		&__right {
			width: 100%;
		}
	}
}

.drop__form {
	display: flex;
	position: absolute;
	width: 93%;
	top: 0%;
	padding: 3px 20px;
	border-radius: 30px;
	background-color: $yellow80;
}

.drop__input {
	width: 100%;
	color: $c40;
	margin-right: 5px;
	&::placeholder {
		color: $yellow40;
	}
}

.drop__button {
	white-space: nowrap;
	font-size: calc(8px + 8 * (100vw / 1460));
	background: $firstTextColor;
	padding: 1px 5px;
	color: $white;
	border: 15px;
	font-size: 10px;
	border-radius: 57px;
	font-family: Gilroy;
	font-weight: 700;
}

@media (max-width: 650px) {
	.main {
		text-align: center;
	}

	.main__header-left {
		z-index: 11;
		align-items: center;

		p {
			max-width: 250px;
		}
	}

	.main__buttons {
		justify-content: center;
	}

	.main__container {
		display: flex;
		flex-direction: column;
	}

	.point {
		display: none;
	}

	.products__gene {
		margin-right: 12px;
	}

	.sellers {
		display: none;
	}

	.footer__form {
		flex-direction: column;

		form {
			margin-top: 16px;
			width: 100%;
			flex-direction: column;

			input {
				width: 100%;
			}

			button {
				margin-top: 12px;
				width: 100%;
			}
		}
	}

	.footer__form-title {
		width: 100%;
		text-align: center;
	}
}

@media(min-width: 852px) {
	.category__wrapper {
		display: none;
	}
}